* {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

html,body {
  height: 100%;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑" ! important;
  background: #fff;
}

.round {
  border-radius: 12px;
}

.shadow-3d {
  -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .14), 0 1px 1px -2px rgba(0, 0, 0, .12);
  box-shadow: 0 6px 5px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .14), 0 1px 1px -2px rgba(0, 0, 0, .12);
}

.shadow-3d-reverse {
  -webkit-box-shadow: 0 -6px 5px rgba(0, 0, 0, .2), 0 -1px 2px rgba(0, 0, 0, .14), 0 -1px 1px -2px rgba(0, 0, 0, .12);
          box-shadow: 0 -6px 5px rgba(0, 0, 0, .2), 0 -1px 2px rgba(0, 0, 0, .14), 0 -1px 1px -2px rgba(0, 0, 0, .12);
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.f-elpsl-1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.f-elpsl-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}